.coin-page-top {
  display: flex;
  justify-content: space-between;
  margin: 30px 10px 30px;
  align-content: center;
}

.cp-rank {
  display: flex;
  align-items: center;
}

.cp-rank-title {
  font-size: .8rem;
}

.cp-rank-num {
  padding-left: 10px;
  font-size: .9rem;
}

.cp-symbol {
  display: flex;
  padding-right: 30px;
}

.coin-page-title {
  font-size: .9rem;
  font-weight: bold;
  align-self: center;
  padding: 0 5px;
}

.coin-page-logo {
  width: 20px;
}

.coin-page-lower-top {
  display: flex;
  justify-content: space-between;
  margin: 10px 10px 39px;
  align-items: center;
}

.cplt-right {
  display: flex;
  text-align:  left;
}

.cplt-r-mid {
  margin-right: 30px;
}

.cplt-lt-red {
  color: #e00303;
  font-size: 2rem;
  font-weight: bold;
}

.cplt-lt-green {
  color: #069b06;
  font-size: 1.8rem;
  font-weight: bold;
}

.cplt-lb-red {
  color: #e00303;
  font-weight: bold;
}

.cplt-lb-green {
  color: #069b06;
  font-weight: bold;
}

.cplt-rm-top,
.cplt-rm-bot, 
.cplt-rr-top,
.cplt-rr-bot {
  font-size: .7rem;
  color: gray;
}

.cplt-rm-top-num,
.cplt-rm-bot-num, 
.cplt-rr-top-num,
.cplt-rr-bot-num {
  font-size: .9rem;
}

.cplt-rm-top-num,
.cplt-rr-top-num {
  margin-bottom: 5px;
}
