

/*-- Gainers rows header --*/
.gainers-top {
  display: flex;
  justify-content: space-between;
  margin: 30px 10px 0 10px;
  width: 98%;
}

.gainers-top p {
  font-size: .8rem;
}

.gainers-top-middle {
  padding-left: 18px;
}

.gainers-top-right {
  padding-right: 10px;
}

/*-- Gainers rows --*/

.gainers .coin-row {
  margin-left: 0;
}

.gainers .coin {
  display: flex;
  align-items: center;
}

.gainers .coin-right {
  width: 97%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gainers .coin-ticker,
.gainers .coin-cap,
.gainers .coin-percent-green,
.gainers .coin-percent-red {
  font-weight: bold;
  font-size: 1rem;
}

.gainers .crypto-row-left {
align-self: center;
width: 30%;
}

.gainers .coin-name,
.gainers .coin-volume,
.gainers .coin-price-red,
.gainers .coin-price-green {
  font-size: .8rem;
}

.gainers .crypto-row-middle {
  text-align: right;
  padding-right: 15px;
}

.gainers .crypto-row-right {
  text-align: right;
  width: 30%;
}

.gainers .coin-percent-red,
.gainers .coin-price-red {
  color: #e00303;
}

.gainers .coin-percent-green,
.gainers .coin-price-green {
  color: #059a05;
}
