

/*-- Gainers rows header --*/
.gainers-top {
  display: flex;
  justify-content: space-between;
  margin: 30px 10px 0 10px;
}

.gainers-top p {
  color: gray;
  font-size: .7rem;
}

.gainers-top-middle {
  padding-left: 70px;
  padding-right: 0;
}

.gainers-top-right {
  text-align: right;
}

/*-- Gainers rows --*/

.gainers .coin-row {
  margin-left: 0;
}

.gainers .coin {
  display: flex;
  align-items: center;
}

.gainers .coin-right {
  width: 97%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gainers .coin-ticker,
.gainers .coin-cap,
.gainers .coin-percent-green,
.gainers .coin-percent-red {
  font-weight: bold;
  font-size: .9rem;
}

.gainers .crypto-row-left {
align-self: center;
width: 30%;
}

.gainers .coin-name,
.gainers .coin-volume,
.gainers .coin-price-red,
.gainers .coin-price-green {
  font-size: .7rem;
}

.gainers .coin-name,
.gainers .coin-volume {
  color: gray;
}

.gainers .crypto-row-middle {
  text-align: right;
  padding-right: 20px;
  width: 34%;
}

.gainers .crypto-row-right {
  text-align: right;
  width: 30%;
}

.gainers .coin-percent-red,
.gainers .coin-price-red {
  color: #e00303;
}

.gainers .coin-percent-green,
.gainers .coin-price-green {
  color: #069b06;
}


@media only screen and (min-width: 820px) {
  .gainers .crypto-row-middle {
    padding-right: 15%;
  }
}

@media only screen and (min-width: 650px) and (max-width: 820px) {
  .gainers .crypto-row-middle {
    padding-right: 14%;
  }
}

@media only screen and (min-width: 520px) and (max-width: 650px) {
  .gainers .crypto-row-middle {
    padding-right: 13%;
  }
}

@media only screen and (min-width: 430px) and (max-width: 520px) {
  .gainers .crypto-row-middle {
    padding-right: 12%;
  }
}

@media only screen and (min-width: 333px) and (max-width: 430px) {
  .gainers .crypto-row-middle {
    padding-right: 10%
  }
}




