

.chart {
  width: 98%;
  height: 220px;
  display: flex;
  margin: 10px auto;
}

.highcharts-container {
  height: 50% !important;
}

select {
  background-color: rgb(244, 243, 243);
  fill: black;
  font-size: .8rem !important;
}


#dark select {
  background-color: rgb(49, 47, 47);
  color: rgb(182, 178, 178);
  border: 1px solid black;
}

.highcharts-range-selector-buttons {
  display: none;
}

.chart-button {
  margin-left: 10px;
  display: flex;
  justify-content: space-around;
  width: 200px;
}

.btn1,
.btn7,
.btn30,
.btnY,
.btnAll {
  width: 40px;
}

#dark .btn1,
#dark .btn7,
#dark .btn30,
#dark .btnY,
#dark .btnAll {
  background-color: black;
  color: rgb(182, 178, 178);
}

#dark .btn1:hover,
#dark .btn7:hover,
#dark .btn30:hover,
#dark .btnY:hover,
#dark .btnAll:hover {
  background-color: rgb(23, 23, 23);
  color: rgb(125, 123, 123);
}

.candlestick-chart {
  width: 100%;
}

.highcharts-background {
  fill: #ffffff00
}

.highcharts-grid-line {
  display: none;
}

#dark .highcharts-navigator-outline {
  stroke: rgb(38, 35, 35);
}

#dark .highcharts-scrollbar-track,
#dark .highcharts-axis-line {
  fill: rgb(50, 49, 49);
  stroke:rgb(108, 108, 108);
}

#dark .highcharts-scrollbar-button,
#dark .highcharts-scrollbar-thumb {
  fill: rgb(120, 120, 120);
}

#dark .highcharts-navigator-handle {
  stroke:rgb(50, 49, 49);
  fill:rgb(161, 159, 159);
}

#dark text {
  fill: rgb(197, 194, 194) !important;
}

.highcharts-point-down {
  fill: red;
}

#dark .highcharts-tooltip-box .highcharts-label-box {
  fill: #383636;
  fill-opacity: 0.55;
}






