
.picks-title{
  font-size: 1.3rem;
  text-align: center;
  margin-top: 30px;
}

#dark .picks-title {
  color: #d7d7d7;
}

.no-data-menu {
  margin: 70px auto;
  width: 96%;
  max-width: 450px;
  height: 200px;
  text-align: center;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#light .no-data-menu {
  background-color: rgb(193, 190, 190);
  border: 1px solid gray;
}

#dark .no-data-menu {
  background-color: rgb(39, 38, 38);
  border: 1px solid gray;
}

.search-button {
  width: 80px;
  height: 35px;
  margin-top: 20px;
  box-shadow: 2px 2px gray;
  border-radius: 10px;
  border: 1px solid gray;
  cursor: pointer;
  background-color: rgb(209, 209, 209);
}

#dark .search-button {
  background-color: rgb(99, 97, 97);
  box-shadow: 2px 2px rgb(12, 12, 12);
  color: #d7d7d7;
}

#dark .search-button:active {
  background-color: rgb(45, 44, 44);
  box-shadow: none;
}

.search-button:active {
  box-shadow: none;
  background-color: rgb(173, 171, 171);
  border: 1px solid rgb(82, 81, 81);
}

/* -- Mypicks head titles -- */
.phead {
  display: flex;
  justify-content: space-between;
  margin: 30px 10px 10px;
  font-size: .7rem;
  color: gray;
}

.phead-mid {
  margin-left: 60px;
}

.phead-right {
  margin-left: 10px;
}

/*-- MyPicks rows --*/

.mypicks a {
  display: flex;
  width: 100%;
  align-self: center;
}

.mypicks {
  display: flex;
  margin: 10px 0;
  align-items: center;
  width: 100%;
}

.mypicks .coin {
  align-items: center;
}

.mypicks .coin-mid {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.mypicks .coin-price {
  margin-left: 30%;
}

.mypicks .coin-name {
  width: 80px;
  color: gray;
}

.mypicks .coin-ticker,
.mypicks .coin-percent-green,
.mypicks .coin-percent-red {
  font-weight: bold;
  font-size: 1rem;
}

.mypicks .crypto-row-left {
align-self: center;
width: 50%;
}

.mypicks .coin-name {
  font-size: .7rem;
}

.mypicks .crypto-row-middle {
  text-align: left;
  width: 30%;
  padding-right: 15px;
  align-self: center;
}

.mypicks .crypto-row-right {
  text-align: right;
  width: 30%;
  align-self: center;
}

.mypicks .coin-percent-red-div {
  background-color: #e00303;
  color: #f7f6f6;
  height: 30px;
  width: 75px;
  padding: 6px;
  text-align: center;
  border-radius: 10px;
  margin-right: 10px;
  margin-left: 5px;
}

.mypicks .coin-percent-green-div {
  background-color: #069b06;
  color: #f7f6f6;
  height: 30px;
  width: 75px;
  padding: 6px;
  text-align: center;
  border-radius: 10px;
  margin-right: 10px;
  margin-left: 5px;
}

/*-- star -- */
.mypicks svg {
  align-self: center;
  margin: 10px 10px 10px 0;
  color: #706d6d;
  cursor: pointer;
}

#dark .mypicks svg {
  color: #a4a3a3;
}


@media only screen and (max-width: 1000px) {
  .mypicks .coin-mid {
    width: 59%;
  }
}

@media only screen and (max-width: 800px) {
  .mypicks .coin-mid {
    width: 58%;
  }
}

@media only screen and (max-width: 700px) {
  .mypicks .coin-mid {
    width: 57%;
  }
}

@media only screen and (max-width: 550px) {
  .mypicks .coin-mid {
    width: 55%;
  }
}

@media only screen and (max-width: 450px) {
  .mypicks .coin-mid {
    width: 53%;
  }
}

@media only screen and (max-width: 400px) {
  .mypicks .coin-mid {
    width: 52%;
  }
}

@media only screen and (max-width: 350px) {
  .mypicks .coin-mid {
    width: 51%;
  }

  .mypicks .coin-name {
    width: auto;
  }
}



