@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

#light .active-page,
#dark .active-page {
  color: #2222dc !important;
  text-decoration: underline;
}

#light a,
#light a:visited {
  color: black;
}

#dark a,
#dark a:visited {
  color:#d7d7d7
}

.App {
  height: 100vh;
}

#light {
  background-color: #fcfbfb;
  color: rgb(8, 8, 8);
}

#dark {
  background-color: rgb(6, 6, 6);
  color: #fcfbfb;
}

#dark #container {
  background-color: rgb(6, 6, 6);
}

.header-name {
  font-size: 1.3rem;
}

.navbar-brand,
.buttons-top {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  height: 50px;
}

.nav-list,
.navbar-nav {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.nav-link {
  text-decoration: none;
}

.nav-link-dark {
  text-decoration: none;
  color: #d7d7d7;
}

#light .link-to-coinpage {
  text-decoration: none;
  color: black;
}

#dark .link-to-coinpage {
  text-decoration: none;
  color: #d7d7d7;
}

.logo {
  height: 40px;
  margin: 10px;
}

#magGlass,
#magGlass-dark {
 margin: 10px;
}

#magGlass-dark,
#sun {
  color: #d7d7d7;
}

#magGlass, 
#magGlass-dark,
.sun,
.moon {
  font-size: 1.1rem;
  padding-top: 15px;
}

.toggle-button {
  margin-left: auto;
  border: none;
  background-color: #ffffff00;
  cursor: pointer;
  font-size: 1.1rem;
  padding-top: 15px;
}

.coin-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #d7d7d7;
  margin: 0 10px;
}

.coin img {
  height: 30px;
  width: 30px;
  margin: 10px;
}

.loading-data {
  text-align: center;
  margin-top: 250px;
}
@media only screen and (max-width: 350px) {
  .navbar-nav {
    font-size: .8rem;
  }
  
}


