/*-- Losers rows header --*/
.losers-top {
  display: flex;
  justify-content: space-between;
  margin: 30px 6px 0 9px;
  color: gray;
}

.losers-top p {
  font-size: .7rem;
  width: 80px;
}

.losers-top-middle {
  padding-left: 30px;
}

.losers-top-right {
  padding-right: 10px;
}

/*-- Gainers rows --*/

.losers .coin-row {
  margin-left: 0;
}

.losers .coin {
  display: flex;
  align-items: center;
}

.losers .coin-right {
  width: 97%;
  display: flex;
  justify-content: space-between;
}

.losers .coin-name {
  width: 80px;
  color: gray;
}

.losers .coin-ticker,
.losers .coin-cap,
.losers .coin-percent-green,
.losers .coin-percent-red {
  font-weight: bold;
  font-size: .9rem;
}

.losers .crypto-row-left {
align-self: center;
width: 30%;
}

.losers .coin-name,
.losers .coin-volume,
.losers .coin-price-red,
.losers .coin-price-green {
  font-size: .7rem;
}

.losers .coin-volume {
  color: gray;
}

.losers .crypto-row-middle {
  text-align: right;
  width: 30%;
  padding-right: 30px;
  padding-left: 20px;
  
}

.losers .crypto-row-right {
  text-align: right;
  width: 30%;
}

.losers .coin-percent-red,
.losers .coin-price-red {
  color: #e00303;
}

.losers .coin-percent-green,
.losers .coin-price-green {
  color: #069b06;
}


@media only screen and (min-width: 1000px) {
  .losers .crypto-row-middle {
    width: 80px;
  }
}

@media only screen and (min-width: 700px) and (max-width: 1000px) {
  .losers .crypto-row-middle {
    width: 10%;
  }
}

@media only screen and (min-width: 560px) and (max-width: 700px) {
  .losers .crypto-row-middle {
    width: 15%;
  }
}

@media only screen and (min-width: 370px) and (max-width: 440px) {
  .losers .crypto-row-middle {
    width: 25%;
  }
}

@media only screen and (max-width: 340px) {
  .losers .crypto-row-left {
    width: 30%;
  }

  .losers .crypto-row-middle {
    width: 80px;
  }

  .losers-top-middle {
    padding-left: 20px;
  }
}



